{% extends 'bootstrap.html' %}

{% block content %}
{#    <div class="row-fluid">#}
{#        <div class="span6">#}
            <div class="row">
                    <div class="hero-unit">
                        <h1>Hello, {{ current_user.username }}</h1><br>
                        <div><p><b>{{ current_user.username }} says: </b> {{ posts.body }}</p></div> <br>
                        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
                    </div>
                </div>
{#        </div>#}
{#    </div>#}
{% endblock %}