{% extends 'bootstrap.html' %}

{% block content %}
            <form action="{{ url_for('salt.query_allhost') }}" method="post">
            <button type="submit" class="btn btn-info">返回</button>
        </form>
    <div class="row-fluid">


        <div class="panel-body">
          <div>
                 {% for detail in details %}
                <p><b>Hostname:</b> {{ detail[1] }}</p>
                <p><b>Release:</b> {{ detail[7] }}</p>
                <p><b>Memory:</b> {{ detail[4] }} M</p>
                <p><b>CPU:</b> {{ detail[5] }}</p>
                <p><b>KernelRelease:</b> {{ detail[8] }}</p>
{#                <p><b>Network:</b> eth0:10.1.2.1</p>#}
        {#        <p><b>Disk:</b> #</p>#}
                <p><b>Stats:</b><br>
{#                    {{ top_info | safe }}#}
                {% for top_info_item in top_info_list %}
                  {{ top_info_item | safe }} <br>
                {% endfor %}
                </p>
            {% endfor %}
          </div>
        </div>
      </div>



{% endblock %}