{% extends 'new_basic.html' %}
{% block title %}软件部署{% endblock %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main/css/bootstrap-progressbar.css') }}">

{% block content %}

    <aside class="right-side" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">





{#<script type="text/javascript">#}
{#    function progressBar() {#}
{##}
{#        var total = 10000;#}
{#        var breaker = 100;#}
{#        var turn = 100 / (total / breaker);#}
{#        var progress = 0;#}
{##}
{#        var timer = setInterval(function () {#}
{##}
{#                    progress = progress + turn;#}
{##}
{#                    $("#aa").html(progress + "% 完成");#}
{##}
{#                    $("#processbar").attr("style", "width:" + progress + "%");#}
{##}
{#                    if (progress >= 100) {#}
{#                        clearInterval(timer);#}
{#                    }#}
{##}
{#                },#}
{#                breaker);#}
{##}
{#    }#}
{#</script>#}

{#        <script type="application/javascript">#}
{##}
{##}
{##}
{#            function progressBar() {#}
{#                div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');#}
{#            $.ajax({#}
{#                url: '/dataapi/query5api',  //#}
{#                type: 'post',#}
{#                contentType: "application/json;charset=UTF-8",#}
{#                dataType: "json",#}
{#                data: {},#}
{#                success: function (data) {#}
{##}
{#                    var total = data["total"];#}
{#                    var breaker = 100;#}
{#                    var turn = 100 / (total / breaker);#}
{#                    var progress = 0;#}
{#                    var timer = setInterval(function () {#}
{##}
{#                                progress = progress + turn;#}
{##}
{#                                $("#aa").html(progress  + "% 完成");#}
{##}
{#                                $("#processbar").attr("style", "width:" + progress + "%");#}
{##}
{#                                if (progress >= 100) {#}
{#                                    clearInterval(timer);#}
{#                                }#}
{##}
{#                            },#}
{#                            breaker);#}
{#                    return data['total'];#}
{##}
{#                },#}
{##}
{##}
{#                }#}
{#            );#}
{#        }#}
{##}
{#        </script>#}
        <section class="col-lg-5 connectedSortable ui-sortable">

                         <small>程序部署</small><br>
                      <small>部署进度</small>
        <form action="{{ url_for('salt.test',tasks='taskssss') }}" method="POST">


{#        <div class="small-box bg-green">#}
{#      {% for message in get_flashed_messages(with_categories=True) %}#}
{#            <div class="alert alert-{{ message[0] }}">#}
{#                <button type="button" class="close" data-dismiss="alert"></button>#}
{#               <i class="ion ion-loading-d" ></i>{{ message[1] }}#}
{#            </div>#}
{#            {% endfor %}#}

{#        </div>#}
{##}
{##}<div id="hiding">
            {% if res %}
                        <i class="ion ion-looping"></i>Installing...
            {% elif res1 %}
                        <i class="ion ion-looping"></i>安装完成...
            {% else %}
            {% endif %}
    </div>
          <button type="submit" class="btn btn-primary "> 提交 </button>

         </form>
{#                                < form action="{{ url_for('salt.test',tasks='taskssss') }}" method="post">#}
{#                                            <button type="submit" class="btn btn-info btn-sm" >get</button>#}
{#                                    </form>#}

{#                        <div class="progress progress-striped">#}
{#                            <div class="progress-bar progress-bar-success" id="processbar"  role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:0%">#}
{#                                <span id="aa"></span>#}
{#                            </div>#}
{#                        </div>#}

</section>


{##}
           <section class="col-lg-12 connectedSortable ui-sortable">
            <div class="row">
            
            {% for detail in details %}

            
             <div class="col-xs-3">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">#task{{ detail[1] }}<br>{{ detail[2] }}</h3>
                </div>
                   <div class="box-body">
                            <div class="small-box bg-green">
{#            <div class="inner">#}
                        <i class="ion ion-loading-d" ></i>{{ detail[5] }}
                    </div>

                   </div>
              </div>
             </div>
            {% endfor %}

            </div>
        </section>
    </aside>
{% endblock %}

