{% extends 'new_basic.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

    <aside class="right-side" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">


                <!-- Main content -->
                <section class="content">

                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        {{ host_count }}
                                    </h3>
                                    <p>
                                        服务器总数
                                        <small>Has been put in storage</small>
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-navicon-round"></i>
                                </div>
                                <a href="{{ url_for('salt.query_allhost') }}" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                        8322
                                    </h3>
                                    <p>
                                        当前游戏在线人数
                                        <small>Update once/5 min</small>
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-looping"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                        44
                                    </h3>
                                    <p>
                                        User Registrations
                                        <small>Has been put in storage</small>
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-social-tux"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        65
                                    </h3>
                                    <p>
                                        Unique Visitors
                                        <small>Has been put in storage</small>
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-earth"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->
    <hr>
    </section>

    <section class="col-lg-4 connectedSortable ui-sortable">

{#            <textarea style="margin: 0px 0px 10px; height: 300px; width:500px; background-color: black;color: green"></textarea>#}

    </section>



    </aside>




{% endblock %}

