{% extends 'new_basic.html' %}
{% block title %}Dashboadr{% endblock %}
{% block content %}

    <aside class="right-side" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
           xmlns="http://www.w3.org/1999/html">


        <section class="col-lg-12 connectedSortable ui-sortable">
            <div class="row">
             <div class="col-xs-12">
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">基本信息</h3>
                     <form action="{{ url_for('salt.query_allhost') }}">
                        <button type="submit" class="btn btn-info btn-sm" >返回</button>
                    </form>
                </div>

                   <div class="box-body">

                    <div>
                        <h4><b>Status</b>
                            {% if testping %}
                                <a><i class="fa fa-circle text-success"></i> Online</a>
                            {% else %}
                                <a><i class="fa fa-circle text-danger"></i> Offline</a>
                            {% endif %}
                        </h4>
                            {% for detail in details %}
                                <h4><b>Hostname:</b> {{ detail[1] }}</h4>
                                <h4><b>Release:</b> {{ detail[7] }}</h4>
                                <h4><b>Memory:</b> {{ detail[4] }} M</h4>
                                <h4><b>CPU:</b> {{ detail[5] }}</h4>
                                <h4><b>KernelRelease:</b> {{ detail[8] }}</h4>
                            {% endfor %}
                    </div>
                </div>
              </div>
             </div>
            </div>
        </section>

        <section class="col-lg-12 connectedSortable ui-sortable">
            <div class="row">
                <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">监控信息</h3>
                    </div>

<iframe  src="http://114.55.0.47:3000/dashboard-solo/db/server-performance?panelId=4&var-group={{ groupname }}&var-host={{ hostname }}&theme=light" width=100% height="200" frameborder="1"></iframe>
<iframe  src="http://114.55.0.47:3000/dashboard-solo/db/server-performance?panelId=6&var-group={{ groupname }}&var-host={{ hostname }}&theme=light" width=100% height="200" frameborder="1"></iframe>
<iframe  src="http://114.55.0.47:3000/dashboard-solo/db/server-performance?panelId=1&var-group={{ groupname }}&var-host={{ hostname }}&theme=light" width=100% height="300" frameborder="1"></iframe>
<iframe  src="http://114.55.0.47:3000/dashboard-solo/db/server-performance?panelId=3&var-group={{ groupname }}&var-host={{ hostname }}&theme=light" width=100% height="300" frameborder="1"></iframe>
{#                        <img style="border:2px #b0b0b0 dashed;" src="http://114.55.0.47:9986/chart2.php?graphid={{ network_id }}&width=350&height=100&period=7200" >#}
{#                        <img style="border:2px #b0b0b0 dashed;" src="http://114.55.0.47:9986/chart2.php?graphid={{ cpuloads_id }}&width=350&height=100&stime=1482816359&period=7200" >#}
{#                        <img style="border:2px #b0b0b0 dashed;" src="http://114.55.0.47:9986/chart2.php?graphid={{ memory_id }}&width=350&height=100&stime=1482816359&period=7200">#}
{#                        <img style="border:2px #b0b0b0 dashed;" src="http://114.55.0.47:9986/chart2.php?graphid={{ cpu_utilization_id }}&width=350&height=100&stime=1482816359&period=7200" >#}
{#                        <img style="border:2px #b0b0b0 dashed;" src="http://114.55.0.47:9986/chart2.php?graphid={{ cpu_utilization_id }}&width=350&height=100&stime=1482816359&period=7200" >#}

                      </div>
                    </div>
            </div>
        </section>

    </aside>
{% endblock %}

