{% extends 'bootstrap.html' %}
{% block content %}

<div class="row-fluid">
    <div class="span5">
        <div class="widget-header widget-header-flat">
            <h4 class="lighter">
                Salt软件部署
            </h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="widget-box transparent">
                    <div class="widget-body">

                     <form action="{{ url_for('salt.deploy') }}" method="post">
                          <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">目标主机</label>
                            <div class="form-group">
                             <textarea type="text" name="contenet" class="form-control" rows="4" placeholder="host1,host2,host3..." style="margin: 0px 0px 10px; height: 100px; width: 450px; background-color: write;color: black"></textarea>
                          </div>
                          </div>
                             <h4 class="lighter">
                                Salt软件部署
                             </h4>

                          <input type="checkbox" name="vehicle" value="1"> sInit System <br>

                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" > 提交 </button>
                          </div>
                    </form>
                        {% for message in get_flashed_messages() %}
                            <div id="myAlert" class="alert alert-warning">
                                <a class="close" data-dismiss="alert">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="span5">
        <div class="row">
            <div class="col-sm-10">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            执行结果
                        </h4>
                    </div>
                        <textarea style="margin: 0px 0px 10px; height: 477px; width: 600px; background-color: black;color: green">
{% for k,v in result %}
目标主机: {{ k }}
执行命令: {{ cmd }}
------Result------
{{ v }}
{% endfor %}
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}