{% extends 'bootstrap.html' %}

{% block content %}

<div class="row-fluid">

    <div class="span4">
        <div class="row">
            <div class="col-sm-6">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            目标选择
                        </h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <form action= "#" method="POST" >

                                  <div class="form-group">
                                    <label for="lastname" class="col-sm-3 control-label">目标主机</label>
                                    <div class="col-sm-10">
                                      <input type="text" value="{{ request.form.host }}" class="form-control" name="host" placeholder="Host">
                                    </div>
                                </div>

                                  <div class="form-group">
                                    <label for="lastname" class="col-sm-3 control-label">执行命令</label>
                                    <div class="col-sm-10">
                                      <input type="text" value="{{ request.form.cmd }}" class="form-control" name="cmd" placeholder="Cmd">
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                      <button type="submit" class="btn btn-primary"> Run </button>
                                    </div>
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="row">
            <div class="col-sm-10">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            执行结果
                        </h4>
                    </div>

                    <div class="widget-body">
                        <textarea style="margin: 0px 0px 10px; height: 400px; width: 600px; background-color: black;color: green">
 目标主机:
 执行命令：
 ------Result------
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}